body {
  display: grid;
  grid-template-rows: 15% 35% 40% 30% 20% 15%;
  background-color: rgb(57, 57, 57);
  margin: 50px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  grid-gap: 1vw;
  word-wrap: normal;
}
#top-banner {
  grid-row: 1/2;
  background-color: rgb(67, 67, 67);
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
}
#top-banner-left {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  margin: 1vw;
}
#top-banner-right {
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  margin: 1vw;
}
#top-banner-item {
  padding: 1vw;
}
#top-banner-icons #image-carousel {
  grid-row: 2/3;
  background-color: rgb(67, 67, 67);
}
#image-carousel {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1vw;
  grid-gap: 1vw;
}
#image-carousel-left {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 5% 95%;
}
#image-carousel-left-social {
  grid-column: 1/2;
  text-align: right;
  align-self: end;
}
#image-carousel-left-text {
  grid-column: 2/3;
  padding: 1vw;
}
#image-carousel-right {
  grid-column: 2/3;
  display: grid;
  grid-row: 90% 10%;
}
#image-carousel-right-image {
  grid-template-rows: 1/2;
  display: flex;
  justify-content: space-evenly;
}
#image-carousel-right-buttons {
  grid-template-rows: 2/3;
  padding: 1vw;
  margin: 1vw;
  display: flex;
  justify-content: flex-end;
}
#image {
  border-radius: 20px;
}
#information {
  grid-row: 3/4;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}
#information-block {
  background-color: teal;
  margin: 1.5vw;
  padding: 1vw;
  border-radius: 10px;
}
#image-collage {
  grid-row: 4/5;
  display: flex;
  flex-wrap: wrap;
  padding: 1vw;
  justify-content: space-around;
  align-content: center;
}
#about-section {
  grid-row: 5/6;
  padding: 1vw;
  background-color: rgb(245, 245, 245);
  color: black;
  border-radius: 10px;
}
#bottom-banner {
  grid-row: 6/7;
  padding: 1vw;
  background-color: rgb(67, 67, 67);
  border-radius: 10px;
}
