body {
  margin: 0;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: "Ubuntu-BoldItalic";
  src: url("Ubuntu-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#title {
  font-size: 40px;
  font-family: Ubuntu-BoldItalic;
  text-shadow: 2px 2px 2px #a0a0a0;
}

button {
  background-color: rgb(0, 123, 255);
  color: white;
  font-size: calc(10px + 2vmin);
  border: 0px solid rgb(0, 123, 255);
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 2px #a0a0a0;
}

button:hover {
  background-color: rgb(0, 100, 200);
  transition-duration: 0.1s;
}

button:disabled {
  background-color: rgb(155, 155, 255);
}

.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(0, 123, 255);
  border-radius: 10px;
  padding: 1px;
  margin: 3px;
  background-color: rgb(0, 123, 255);
  box-shadow: 2px 2px 2px #a0a0a0;
}

.control {
  background-color: white;
  color: black;
  font-size: 12px;
  border: 0px solid white;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.control:hover {
  background-color: rgb(155, 155, 255);
  transition-duration: 0.1s;
}

#theme {
  position: absolute;
  top: 10px;
  right: 10px;
}

.first-page {
  display: grid;
  grid-template-rows: 80px 80px 80px;
  grid-template-columns: 240px 240px;
  grid-gap: 3px;
}

#privacy {
  grid-row: 1/2;
  grid-column: 1/2;
}
#setupspeed {
  grid-row: 1/2;
  grid-column: 2/3;
}
#security {
  grid-row: 2/3;
  grid-column: 1/2;
}
#spendingspeed {
  grid-row: 2/3;
  grid-column: 2/3;
}
#submit {
  grid-row: 3/4;
  grid-column: 1/3;
  cursor: pointer;
}

.second-page {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

#restart {
  position: absolute;
  top: 10px;
  left: 10px;
}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(0, 123, 255);
  border-radius: 15px;
  padding: 1px;
  margin: 3px;
  background-color: rgb(0, 123, 255);
  box-shadow: 2px 2px 2px #a0a0a0;
}

.profile {
  background-color: white;
  color: black;
  font-size: 12px;
  border-radius: 10px;
  padding: 3px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border: 2px solid rgb(0, 123, 255);
  border-radius: 25px;
}

.matrix {
  background-color: rgb(0, 123, 255);
  padding: 3px;
  border: 3px solid rgb(0, 123, 255);
  border-radius: 5px;
  box-shadow: 2px 2px 2px #a0a0a0;
}

.row {
  display: flex;
  flex-direction: row;
  height: 12vh;
}

.cell {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  align-items: center;
  margin: 1px;
  font-size: 12px;
  color: black;
  background-color: white;
}

.cell:hover {
  background-color: rgb(0, 100, 200);
  transition-duration: 0.3s;
  color: white;
}

.cell:active .comment {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 100, 200);
  transition-duration: 0.3s;
  color: white;
}

.comment {
  text-align: center;
  display: none;
  position: absolute;
  word-wrap: wrap;
  width: 150px;
  padding: 2px;
  font-size: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid black;
}

.name {
  font-size: 16px;
  width: 16vw;
}

.url {
  font-size: 12px;
  width: 16vw;
}

.completeinstructions {
  font-size: 20px;
  width: 5vw;
}

.setupspeed {
  font-size: 18px;
  width: 7vw;
}

.cost {
  font-size: 16px;
  width: 5vw;
}

.privacy {
  font-size: 20px;
  width: 3vw;
}

.theftprevention {
  font-size: 20px;
  width: 5vw;
}

.lossprevention {
  font-size: 20px;
  width: 5vw;
}

.safesetup {
  font-size: 20px;
  width: 3vw;
}

.inheritancesafety {
  font-size: 20px;
  width: 5vw;
}

.spendspeed {
  font-size: 16px;
  width: 5vw;
}

.easytosetup {
  font-size: 12px;
  width: 20vw;
  word-wrap: wrap;
}

.legend {
  font-size: 12px;
  height: 5vh;
  align-self: flex-end;
}

.bottom {
  height: 4vw;
  font-size: 40px;
  font-family: Ubuntu-BoldItalic;
  text-shadow: 2px 2px 2px #a0a0a0;
  color: black;
  margin: 5px;
}
